# build dir
build/
/cmake-build-*/
/main/web_src/index.html.gz

# Python cache
__pycache__/
*.pyc

# Configuration Files
sdkconfig.old
sdkconfig.bak
sdkconfig.ci

# components
managed_components/

# IDE (JetBrains / CLion)
.idea/

# System & Misc
.DS_Store
Thumbs.db
*.swp
*~

# vscode
.vscode/

# clang
.clangd