# build dir
build/
/cmake-build-*/
/main/web_src/index.html.gz

# Python cache
__pycache__/
*.pyc

# Configuration Files
sdkconfig.old
sdkconfig.bak
sdkconfig.ci

# components
managed_components/

# IDE (JetBrains / CLion)
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/httpRequests/

# System & Misc
.DS_Store
Thumbs.db
*.swp
*~
